body {
	overflow: hidden;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	height: 30px;
	width: 100%;
	background-color: black;
}

#htext {
	line-height: 30px;
	vertical-align: middle;

	padding-left: 10px;
	color: white;
	font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}

#left {	
	background: url(../resources/img/bgr_page.png); 
	background-repeat: both;
	margin: 0;
	position: fixed;
	overflow: auto;
	float: left;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
}

#view {
	padding-left: 30px;
	padding-right: 30px;
}

#divider { 
	background-color: transparent;
    height: 100%;
    position: fixed;
    right: 49.6%;
    width: 25px;
    cursor: col-resize; 
}

#editor { 
	margin: 0;
	position: fixed;
	top: 30px;
	bottom: 0;
	width: 50%;
	right: 0;
}

#editButtonDiv {
	float: right;
	padding: 5px;
}
